/*MEDIA SIZE*/

@media (max-width: 600px) { /*Para monitores small*/
	.valign-wrapper { height: auto!important; }
	section { padding: 30px 15px; }
	#principal { height: auto; }
	#home button { margin-top: 15px; }
	#home img, #schedule-home img { width: 105px; }
	h2 { font-size: 25px; }
	h3 { font-size: 16px; }
	h5 { line-height: 27px; }
	p { font-size: 16px; }
	.contact-link { font-size: 14px; font-family: 'Industry-Black'; letter-spacing: 1px; }
	.social-media-link img { width: 30px; }
	.details { font-size: 13px; }
	#map { height: 50vh !important; }
	.venue-box { text-align: center; padding: 30px 15px !important; }
  nav a { padding-right: 0px; padding-left: 0px; margin: 0; }
	.button-collapse { margin: 2px 0 !important; }
	nav ul a { color: white; }
  nav ul { background-color: black; }
	nav ul a:hover { line-height: 48px !important; }
	nav { height: 69px; }
	nav .button-collapse { margin: -6px !important; }
	.tab-container { position: absolute; bottom: 0; left: 0; width: 100%; }
	.tab-container button.active, .tab-container button { padding: 10px 15px !important; line-height: 16px; }
	.timeline { padding: 0 10px; }
	.entry .title:before { right: -22px; }
}

@media (min-width: 600px) and (max-width: 820px) {
	.tab-container { position: absolute; bottom: 0; left: 0; width: 100%; }
	.tab-container button.active, .tab-container button { padding: 10px 15px !important; line-height: 16px; }
	.timeline { padding: 0 10px; }
	.entry .title:before { right: -22px; }
}

@media (min-width: 982px) and (max-width: 1150px) {
	#map { height: 714px !important; }
}